.venv
venv
node_modules
dist
__pycache__
*.pyc
*.db
*.db-journal
.env
*.env
!.env.production.example
.env.production
backend/.env
backend/.env.production
frontend/.env
logs
*.log
*.tsbuildinfo
.DS_Store
